* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.profileinformationClass {
  text-align: center;
  padding-top: 20px;
}
p {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
}
.unorderedlistClass {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 20px;
}
.skillsClass {
  background-color: pink;
  margin-top: 20px;
}
.skillsClass ul {
  padding-left: 40px;
}
span {
  background-color: yellow;
}
.experienceClass {
  margin-top: 20px;
  background-color: pink;
}
.aboutmeClass {
  margin-top: 20px;
  background-color: pink;
}
.aboutmeClass ul li span {
  color: blue;
  background-color: pink;
}
